<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"></link>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"></link>
  
    <title>Java Guestbook</title>
    <script src="jquery-1.11.1.min.js" ></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
    <link rel="stylesheet" href="styles.css"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div id="namesOnlyContainer">
    <div id="namesOnlyCenter">
      <text>Signees So Far</text>

      <div id="namesOnlyList">
        <div th:each="person : ${listOfPeople}" th:text="${person.name}"></div>
      </div>

      <a class="backToHomeButtons" href="/">Back to home</a>
    </div>
  </div>
</body>
</html>
