<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Guestbook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
    <link rel="stylesheet" href="styles.css"></link>
    <link rel="stylesheet" href="font-awesome.min.css" type="text/css" media="screen"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div id="formContainer">
    <div id="formBorderBox">
      <text>Guestbook</text>
      <i class="fa fa-book" aria-hidden="true"></i>
      <form action="#" th:action="@{/}" th:object="${user}" method="post">
        <div class="listOfFields">
          <div><input type="text" th:field="*{name}" placeholder="Name" value="" /></div>
          <div><input type="text" th:field="*{email}" placeholder="Email" value="" /></div>
          <div><input type="text" th:field="*{phoneNumber}" placeholder="Phone Number" value="" /></div>
          <div><input id="submitButton" type="submit" value="Submit"/></div>
        </div>
      </form>
      <div class="splashLinksContainer">
        <a th:href="@{~/names}">See All Names</a>
        <a th:href="@{~/showAllUsers}">Admin Login</a>
      </div>
    </div>
  </div>
</body>
</html>
