<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Guestbook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
    <link rel="stylesheet" href="styles.css"></link>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div id="formContainer">
    <div id="formBorderBox">
      <text>Sign the guestbook!</text>
      <form action="#" th:action="@{/}" th:object="${user}" method="post">
        <div class="listOfFields">
          <div>Name: <input type="text" th:field="*{name}" value="" /></div>
          <div>Email: <input type="text" th:field="*{email}" value="" /></div>
          <div>Phone Number: <input type="text" th:field="*{phoneNumber}" value="" /></div>
          <div><input id="submitButton" type="submit" value="submit" /></div>
        </div>
      </form>
      <a th:href="@{~/showAllUsers}">See who else has signed</a>
    </div>
  </div>
</body>
</html>
